@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: transparent;
}

::-webkit-scrollbar-thumb {
    /* background: #888; */
    border-radius: 20px;
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #CFCEFF;
    /* background: transparent; */
}

.react-calendar {
    border: none !important;
    font-family: "Inter", sans-serif !important;
    width: 100% !important;
}

.react-calendar__tile--active {
    background-color: #C3EBFA !important;
    color: #000 !important;
}

.react-calendar__navigation__label__labelText {
    font-weight: 600;
}

.rbc-btn-group:first-child {
    display: none !important;
}

.rbc-toolbar-label {
    text-align: right !important;
    padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
    font-size: 13px !important;
}

.rbc-btn-group:last-child button {
    border: none !important;
    background-color: #f1f1f1 !important;
    margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
    background-color: #dbdafe !important;
    box-shadow: none !important;
}

.rbc-time-view {
    border-color: #eee !important;
}

.rbc-time-header {
    display: none !important;
}

.rbc-time-content {
    border: none !important;
}

.rbc-time-gutter.rbc-time-column {
    font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column.rbc-timeslot-group {
    padding: 0px 20px !important;
}

.rbc-timeslot-group {
    background-color: #f7f7f7 !important;
}

.rbc-day-slot {
    font-size: 14px !important;
}

.rbc-event {
    border: none !important;
    color: #000 !important;
    padding: 10px !important;
    margin: 10px !important;
    width: 99% !important;
}

.rbc-event:nth-child(1) {
    background-color: #e2f8ff !important;
}

.rbc-event:nth-child(2) {
    background-color: #fffac4 !important;
}

.rbc-event:nth-child(3) {
    background-color: #d2cffd !important;
}

.rbc-event:nth-child(4) {
    background-color: #ffbdf3 !important;
}

.rbc-event:nth-child(5) {
    background-color: #e2f8ff !important;
}

.rbc-event:nth-child(6) {
    background-color: #fffac4 !important;
}

.rbc-event:nth-child(7) {
    background-color: #d2cffd !important;
}

.rbc-event:nth-child(8) {
    background-color: #ffbdf3 !important;
}

.rbc-event:nth-child('odd') {
    background-color: #ffbdf3 !important;
}